
/* 
    ESTILOS DEL DASHBOARD GENERAL
*/

.dashboard {
    display: flex;
    height: 100vh;
    overflow: scroll initial;

    .sidebar{
        background-image: linear-gradient(to right, #00a7d5, #27cdca);
        color: #fff;
    }

    .sidebar-content i {
        padding: 0;
        margin: -1.8rem;
    }

    .sidebar-content span {
        padding: 0;
        margin: 1.8rem;
    }


    .sidebar a {
        color: inherit;
        text-decoration: none;
    }

    .sidebar-footer{
        text-align: center;

        div{
           padding: 20px 5px;
        }
    }


   
}