.small-footer {
    // background-color: #242F6C;
    background-color: #011b58;

    p{
        color: #ffffff;
    }

   a:link {
        color: white;
    }
    a:visited {
        color: white;
    }
    a:hover {
        color: #08cc7f;
    }
    a:active {
        color: #08cc7f;
    }
}