/* 
    Project Styles:: formularioBase

*/

.formulario-base {
  
    form {
        .ZIndex2{
            z-index: 2;
        }

        .textSelectonInput{
             position: relative;
        }
        .select-label {
            position: absolute;
            background: #ffffff;
            top: -15px;
            left: 23px;
            padding: 0 10px 0 10px;
            z-index: 4;
            &:focus-within{
                color: #0b52b8;
            }
        }
        .select-label:after {
            content: " ";
            background-color: #ffffff;
            width: 100%;
            height: 13px;
            position: absolute;
            left: 0;
            z-index: -4;
            margin: 0.7em;
        }
        
        
        .textOnInput {
            position: relative;
        }
        .textOnInput label {
            position: absolute;
            background: #ffffff;
            top: -15px;
            left: 23px;
            padding: 0 10px 0 10px;
            z-index: 1;
             &:focus-within{
                color: #0b52b8;
            }
        }
        .textOnInput label:after {
            content: " ";
            background-color: #fff;
            width: 100%;
            height: 13px;
            position: absolute;
            left: 0;
            bottom: 2px;
            z-index: -1;
            margin: 0.7em;
        }

        input.form-control {
            padding: 1.8em;
            font-size: 13px;
        }

        textarea.form-control {
            padding: 1.8em;
            font-size: 13px;
        }
        label {
            display: inline-block;
            margin-bottom: 0.5rem;
            font-size: 13px;
            color: #525252;
            opacity: 1;
        }
        
        .form-control:focus {
            border-color: #0b52b8;
            border-style: solid;
            border-width: 2px;
            -webkit-box-shadow: none;

        }

        .form-group .form-control:focus  + label{
            color: #0b52b8;
        }
       


    }
        
    

    .button-green {
        background-color: #08cc7f;
        color: #ffffff;
    }

    .bg-icon-1 {
        background-image: linear-gradient(#7FEDEB, #7FD7EA);
    }

    .bg-icon-2 {
        background-image: linear-gradient(#FFD3B8,#FFC0C6);
    }

    .bg-icon-3 {
       background-image: linear-gradient(#E1B3FE,#B5B3F9);
    }

    .noteHelp {
      text-align: center;
      margin-top: 20px;
      font-size: 13px;
      letter-spacing: 0;
      font-weight: 500;

      a {
        display: inline-block;
        color: #0077b5;
        margin-left: 10px;
        font-size: 13px;
        font-weight: 500;
        cursor: pointer;
      }
    }    

}



