

.header-general{
        background-color: #ffffff;
        color: #7b7b7b;

        .nav-item {
             a.nav-link:link {
                color: #7b7b7b;
            }

            a.nav-link:visited {
               color: #7b7b7b;
            }
            
            /* mouse over link */
            a.nav-link:hover {
                color: #08cc7f;
            }

            /* selected link */
            a.nav-link:active {
                color: #08cc7f;
            }

        }

    
         
        .custom-toggler .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(200,200,200, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }

        .custom-toggler.navbar-toggler {
            border-color: 	rgb(200,200,200);
        }

        button.navbar-toggler.custom-toggler:focus {   
            border-color: rgba(126, 239, 104, 0.8);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
            outline: 0 none;
        }
                
    
    .bg-green {
        color: #ffffff;
        background-color: #08cc7f;
    }

    

}

button {
    color: #7b7b7b; 
    background: none;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
    outline: inherit;

}
button.button-login:hover {
cursor: pointer;
color:  #08cc7f;
}