.home {
  .bg-img {
      opacity: 0.6;
    background: url('../img/red_social.png') no-repeat center top / cover;
    z-index: 1;
  }
    .scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

    .card {
        flex: 0 0 auto;
    }

        
    }

    .bg-white-opacity {
        background-color:white;
        z-index:0;
    }
        
    
}