.avatar {
  vertical-align: middle;
    border: 1px solid #ffffff;
    border-width: 1rem;
  width: 200px;
  height: 200px;
}

.aqua-gradient {
  height: 200px;
  background: linear-gradient(to right, #00a7d5, #27cdca);;
}

.image {
  margin-top: -150px;
}

.avatar-container {
  width: 90%;
 
}