.profile {
    a{
      color: #525252;
    }

    .nav-tabs{ 
        .nav-link:link {
            color: #525252;
        }

        .nav-link:visited {
            color: #525252;
        }
        
        /* mouse over link */
        .nav-link:hover {
            color: #08cc7f;
        }

        /* selected link */
        .nav-link:active {
            color: #08cc7f;
        }

        .nav-link.active {
            color: #08cc7f;
        }
       

    }

    .avatar {
        vertical-align: middle;
        border: 1px solid #ffffff;
        border-width: 1rem;
        width: 200px;
        height: 200px;
    }

    .aqua-gradient {
    height: 200px;
    background: linear-gradient(to right, #00a7d5, #27cdca);;
    }

    .image {
    margin-top: -150px;
    }

    .image-org {
    margin-top: -100px;
    }

    .avatar-container {
     width: 100%;
    }

    .bg-card-password{
        height: 200px;
        background-image: linear-gradient(#E1B3FE,#B5B3F9);
    }

    .bg-card-org{
        height: 200px;
        background: linear-gradient(to right,#FFD3B8,#FFC0C6);
    }

    .bg-list-org {
        background: linear-gradient(to right,#7FEDEB, #7FD7EA);
    }
    
    .bg-aqua-gradient {
    background: linear-gradient(to right, #00a7d5, #27cdca);;
    }




}