/* 
    Projects Styles
*/


.projects{
    a.bg-blue-light-gradient {
        background-image: linear-gradient(to right, #00a7d5, #27cdca);
        color: #fff;
    }
}

.img-resize {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.bar-progress-green{
    .progress-section {
        padding-top: 35px;
    }
    .progress {
        height: 5px;
        overflow: unset;
    }

    .progress .progress-bar {
        border-radius: 15px;
        box-shadow: none;
        position: relative;
        animation: animate-positive 2s;
        
        background: #08cc7f;
        height: 5px;
    }

    .progress-bar {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        justify-content: center;
        overflow: visible;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        background-color: #F26522;
        transition: width .6s ease;
    }

    .progress .progress-value {
        width: 53px;
        height: 30px;
        background-color: #08cc7f;
        text-align: center;
        line-height: 22px;
        border: 1px solid #08cc7f;
        left: 90%;
        position: relative;
        color: #000;
        opacity: 0.75;
        font-weight: bold;
        font-size: 12px;
        text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.45);
        top: -30px;
        line-height: 20px;
    }

    .progress-bar .progress-value:before {
        content: "";
        border-color: #08cc7f transparent transparent transparent;
        border-style: solid;
        border-width: 5px;
        width: 0;
        height: 0;
        position: absolute;
        bottom: -10px;
        left: 50%;
        margin-left: -5px;
    }
}