/* 
    Projects Styles
*/


.projects{
    a.bg-blue-light-gradient {
        background-image: linear-gradient(to right, #00a7d5, #27cdca);
        color: #fff;
    }

    button.btn-outline-pill {
        border: 2px solid #e9ecef;
        background-color: white;
        color: #686868;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
    }
    button.btn-outline-pill:hover {
        background-color: #e9ecef;
        color: #686868;
    }
    
    button.btn-outline-pill:focus {   
        border-color: rgba(126, 239, 104, 0.8);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
        outline: 0 none;
    }


    .card {
        width: 100%;
        height: 100%;
    }

    .card .card-img-top{
        
        max-width: 100%;
        height: 15vw;
        object-fit: cover;
    }

    @media (max-width: 640px) {
        .card {
            width: 100%;
            height: 100%;
        }
        .card .card-img-top{
            
            max-width: 100%;
            height: 50vw;
            object-fit: cover;
        }
    }

    // @media (max-width: 768px) {
    //     .card {
    //         width: 100%;
    //         height: 100%;
    //     }
    //     .card .card-img-top{
            
    //         max-width: 100%;
    //         height: 20vw;
    //         object-fit: cover;
    //     }
    // }

    // @media (max-width: 1024px) {
    //     .projects{
    //         margin: auto;
    //     }
    //     .card {
    //         width: 100%;
    //         height: 100%;
    //     }
    //     .card .card-img-top{
            
    //         max-width: 100%;
    //         height: 20vw;
    //         object-fit: cover;
    //     }
    // }

    //  @media (max-width: 1366px) {
    //     .card {
    //         width: 100%;
    //         height: 100%;
    //     }
    //     .card .card-img-top{
            
    //         max-width: 100%;
    //         height: 20vw;
    //         object-fit: cover;
    //     }
    // }

    

}



.bar-progress-green{
    .progress-section {
        padding-top: 35px;
    }
    .progress {
        height: 5px;
        overflow: unset;
    }

    .progress .progress-bar {
        border-radius: 15px;
        box-shadow: none;
        position: relative;
        animation: animate-positive 2s;
        
        background: #08cc7f;
        height: 5px;
    }

    .progress-bar {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        justify-content: center;
        overflow: visible;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        background-color: #F26522;
        transition: width .6s ease;
    }

    .progress .progress-value {
        width: 53px;
        height: 30px;
        background-color: #08cc7f;
        text-align: center;
        line-height: 22px;
        border: 1px solid #08cc7f;
        left: 90%;
        position: relative;
        color: #000;
        opacity: 0.75;
        font-weight: bold;
        font-size: 12px;
        text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.45);
        top: -30px;
        line-height: 20px;
    }

    .progress-bar .progress-value:before {
        content: "";
        border-color: #08cc7f transparent transparent transparent;
        border-style: solid;
        border-width: 5px;
        width: 0;
        height: 0;
        position: absolute;
        bottom: -10px;
        left: 50%;
        margin-left: -5px;
    }
}